<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Checkout example for Bootstrap</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet"/>
</head>

<body class="bg-light">

    <div class="container">
        <div class="py-5 text-center">
            <h2>Sample form builder</h2>
            <p class="lead">for more information visit :</p>
            <a herf="https://github.com/MDP66/SampleFormGenerator">https://github.com/MDP66/SampleFormGenerator</a>
        </div>

        @RenderBody()

        <footer class="my-5 pt-5 text-muted text-center text-small">
            <p class="mb-1">&copy; 2017-2018 Masoud Daneshpour ( MDP )</p>
        </footer>
    </div>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    
</body>
</html>
