@model List<vmForms>
@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="col-md-12 order-md-1">
        <h4 class="mb-12">Forms list</h4>
        @if (Model == null || !Model.Any())
        {
            <div class="card mb-12 alert alert-info">
                There is not any form to fill
            </div>
        }
        else
        {
            <div class="row">
                @foreach (var item in Model)
                {
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">@item.FormTitle</h4>
                    </div>
                    <div class="card-body">
                        <a href="@Url.Action("index", "Form", new { id = item.FormId })" class="btn btn-lg btn-block btn-outline-primary">پر کردن فرم</a>
                    </div>
                </div>
                }
            </div>
        }
    </div>
</div>