@model List<vmParameters>
@{
    ViewBag.Title = "Index";
}
<form action="@Url.Action("Index","Form")" method="post">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-6">
                @Html.Partial(item.Type, item)
            </div>
        }
    </div>
    <hr/>
    <div class="row">
        <div class="col">
            <input type="submit" class="btn btn-success" value="Save" />
        </div>
    </div>
</form>

